<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <block name="title"></block>
    </title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>

<body>
    <block name="header"></block>
    <block name="content"></block>
    <block name="aside"></block>
    <block name="sidenew"></block>
    <block name="footer"></block>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<block name="script"></block>

</html>
